/* Food.css */
.content-section {
    margin: 28px 23px 28px 23px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin-bottom: 7px;
}

.food-container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    gap: 5px; /* 아이콘과 텍스트 사이의 간격 */
}

.content-header p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.expand-icon {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.add-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    cursor: pointer;
}

.food-cards {
    display: flex;
    gap: 8px;
}

.card-food-card {
    width: 167px;
    height: 179px;
    /*flex-shrink: 0;*/
    border-radius: 3px;
    border: 1.5px solid #B3B3B3;
    box-sizing: border-box;
    position: relative; /* 자식 요소들이 절대 위치를 가질 수 있게 함 */
}

.food-card-header-left,
.food-card-header-right {
    width: 167px;
    height: 42px;
    border-radius: 3px 3px 0 0;
    background: #306B9B;
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 23px;
    /*position: absolute; !* 부모 요소를 기준으로 절대 위치 *!*/
    position: relative;
    top: -1.5px; /* 상단 테두리를 덮도록 위치 조정 */
    left: -1.5px;

}

.food-card-header-left {
    justify-content: left;
}

.food-card-header-right {
    justify-content: right;
}

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
}

.meal-box {
    padding: 11px 21px 0 21px;
}

.meal-time {
    color: #306B9B;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.meal-details {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 140% */
}

