/* Food.css */
.content-section {
    margin: 29px 23px 0 23px;

}

.content-header {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    margin-bottom: 7px;
}

.food-container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    gap: 5px; /* 아이콘과 텍스트 사이의 간격 */
}

.content-header p {
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.food-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.expand-icon {
    background: none;
    border: none;
    padding: 0;
}

.add-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    /*background: none;*/
    /*border: none;*/
    cursor: pointer;
}

.card {
    background-color: white;
    border: 1.5px solid #b3b3b3;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.food-card {
    border: 1.5px solid #b3b3b3;
    border-radius: 3px;
    padding: 16px;
    background-color: white;
    width: 48%;
}

.card-header {
    font-size: 13px;
    font-weight: 700;
    color: white;
    background-color: #306b9b;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.meal-time {
    font-size: 13px;
    font-weight: 700;
    color: #306b9b;
    text-align: center;
    margin-top: 8px;
}

.meal-details {
    font-size: 10px;
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 8px;
}
