.top-bar {
    width: 100% ;
    height: 49px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
}

.logo {
    width: 133px;
    height: 34px;
    flex-shrink: 0;
    margin-left: 17px;
}

.login-button {
    color: rgba(255, 255, 255, 0.50);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 155px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}


.menu-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin-left: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu-icon {
    width: 24px;
    height: 20px;
    margin-right: 14px;
}