/* Login.css */
.login-section {
    width: 344px;
    height: 215px;
    flex-shrink: 0;
    /*padding: 16px;*/
    text-align: center;
    background-color: #214d71;
    margin: 16px;
    border-radius: 5px;
}

.login-prompt {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-size: 15px;
    font-weight: 600;
}

.login-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.login-option {
    font-size: 9px;
    color: white;
    font-weight: 300;
}

.divider {
    margin: 0 8px;
    color: white;
    font-size: 10px;
    font-weight: 300;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.explore-section {
    padding: 16px;
    text-align: center;
    background-color: #fff;
    margin: 16px;
    border-radius: 8px;
}

.explore-title {
    font-size: 10px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
}

.explore-action {
    width: 276px;
    height: 51px;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 700;
    color: #306b9b;
    background-color: white;
    border: none;

    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}