.content-section {
}

.schedule-header {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    gap: 5px;
}

.schedule-header p {
    color: #000;
    /*font-family: Pretendard;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.card-schedule-card {
    width: 344px;
    height: 189px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1.5px solid #B3B3B3;
    box-sizing: border-box;
    position: relative;
}

.card-header {
    width: 344px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 3px 3px 0px 0px;
    background: #306B9B;
    text-align: center;
    display: flex;
    /*position: absolute; !* 부모 요소를 기준으로 절대 위치 *!*/
    top: -1.5px; /* 상단 테두리를 덮도록 위치 조정 */
    left: -1.5px;
    align-items: center; /* 수정된 부분: 버튼과 라인을 세로로 중앙에 정렬합니다 */
    position: relative; /* 부모 요소를 기준으로 자식 요소를 상대적으로 배치합니다 */

}

.header-title {
    padding-left: 34px;
}

.header-button {
    color: #FFF;
    /*font-family: Pretendard;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 19px 0 16px 0;
}

.schedule-add-button {
    line-height: normal;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-left: 170px;
}

.white-add-icon {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-button.schedule {
    margin-left: 34px;
}

.line-images {
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #FFF;
    width: 2px;
    height: 20px;
    margin: 0 22px;
    display: flex;
    align-items: center;
}

.event-title {
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin-top: 8px;
}

.event-details {
    font-size: 13px;
    font-weight: 500;
    color: black;
    margin-top: 8px;
}
