/* Notice.css */
.content-section {
    margin: 16px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.content-header p {
    font-size: 13px;
    font-weight: 700;
}

.expand-icon {
    font-size: 24px;
    background: none;
    border: none;
    color: #306b9b;
    cursor: pointer;
}

.card {
    background-color: white;
    border: 1.5px solid #b3b3b3;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.notice-card {
    border: 1.5px solid #b3b3b3;
    border-radius: 3px;
    padding: 16px;
    background-color: white;
    /*width: 100%;*/
}

.card-header {
    font-size: 13px;
    font-weight: 700;
    color: white;
    background-color: #306b9b;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.notice-title {
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin-top: 8px;
}

.notice-details {
    font-size: 13px;
    font-weight: 500;
    color: black;
    margin-top: 8px;
}

.notice-date {
    font-size: 10px;
    color: #b3b3b3;
    margin-top: 8px;
}
