.content-section {
}

.notice-header {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    gap: 5px;
}

.notice-header p {
    color: #000;
    /*font-family: Pretendard;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}


.card-notice-card {
    width: 344px;
    height: 239px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1.5px solid #B3B3B3;
    box-sizing: border-box;
    position: relative;
}

.card-header {

}

.header-title {

}

.header-button {

}

.notice-add-button {
    line-height: normal;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-left: 140px;
}

.white-add-icon {

}

.header-button.notice {
    margin-left: 25px;
}

.line-images {
    margin: 0 12px;
}

.notice-details {
    font-size: 13px;
    font-weight: 500;
    color: black;
    margin-top: 8px;
}

.notice-date {
    font-size: 10px;
    color: #b3b3b3;
    margin-top: 8px;
}
